main {
    position: relative;
    margin: 0 5%;
}

section {
    display: block;
    margin-top: 100px;
    text-align: justify;
}

section h1 {
    font-size: 3em;
}

section h2 {
    padding-left: 2%;
    margin-bottom: 20px;
    text-align: left;
}

div img{
    height: 400px;
}

p{
    margin-top: 20px;
}

p a {
    text-decoration: underline;
}

section:last-child{
    margin-bottom: 100px;
}

/* le HERO */
section:nth-child(1) {
    text-align: center;
    position: relative;
    height: 80vh;
    z-index: 100;
}

/* le Bouton du Hero */
section:nth-child(1) a {
    text-decoration: none;
    text-transform: uppercase;
}

/*
 * image Albedo
*/
section:nth-child(1) div:nth-child(1) {
    display: none;
}

/* taille image */
section:nth-child(1) div:nth-child(1) img {
    height: 800px;
}

/* text hero */
section:nth-child(1) div:nth-child(2) {
    z-index: 50;
}

 /* bouton hero */
section:nth-child(1) a {
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid var(--text-color);
}