:root {
    --text-color: #313131;
    --link-color: rgb(185, 0, 132);
    --background-color: #ffffff;
}

header {
    background-color: hsla(0, 0%, 100%, 0.522);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid;
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--background-color);
    background-color: var(--text-color);
}

nav a {
    text-transform: uppercase;
}

p {
    margin-top: 20px;
    color: var(--text-color);
}

p a {
    text-decoration: underline;
    background-color: var(--background-color);
    color: var(--text-color);
}