:root {
    --text-color: #313131;
    --link-color: rgb(185, 0, 132);
    --background-color: #ffffff;
    --link-hover: #ffd700;
    --background-header: hsla(0, 0%, 100%, 0.4);
}

header {
    background-color: var(--background-header);
    
}
#galerie article{
    border-color: var(--text-color);
}
section:nth-child(1) a {
    border-color: var(--text-color);
}
header nav:first-of-type{
    background-color: var(--background-color);
}

header span,header span::before,header span::after{
    background-color: var(--text-color);
}

nav a{
    color: var(--text-color);
}
nav a:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--background-color);
    background-color: var(--text-color);
}

p {
    
    color: var(--text-color);
}

p a {
    
    background-color: var(--background-color);
    color: var(--text-color);
}

section:nth-child(1) a{
    background-color: var(--text-color);
    color: var(--background-color);
    
}

section:nth-child(1) a:hover{
    background-color: var(--background-color);
    color: var(--text-color);
}

section:nth-child(n+2) p a:hover{
    color: var(--link-hover);
}


