header {
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 500;
    border-bottom: 1px solid;
}

header img {
    height: 25px;
}

header a{
    height: 0px;
}

nav {
    display: none;
}

nav a {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
}

@media screen and (min-width: 550px) {
    nav{
        display: inline;
    }
}