main {
    position: relative;
    margin: 0 5%;
}

section {
    display: block;
    margin-top: 100px;
    text-align: justify;
}

section h1 {
    font-size: 3em;
}

section h2 {
    padding-left: 2%;
    margin-bottom: 20px;
    text-align: left;
}



section:nth-child(1){
    text-align: center;
}

section:last-child{
    margin-bottom: 100px;
}

div img{
    height: 400px;
}

p{
    margin-top: 20px;
}

p a {
    text-decoration: underline;
}