@media screen and (min-width: 1200px) {
    /* taille titre hero */
    section:nth-child(1) h1 {
        font-size: 3.6em;
    }

    /* image Albedo */
    section:nth-child(1) div:nth-child(1) {
        display: block;
        z-index: 10;
        height: 0px;
        width: 0px;
        position: relative;
        bottom: 100px;
        right: 0px;
    }

    /* titre et paragraphe hero */
    section:nth-child(1) h1,
    section:nth-child(1) p {
        text-align: right;
    }
    #animations{
        position: relative;
    }
    #animations p{
        display: none;
    }
    #element{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 500px;
        display: inline;
        top: 350px;
        border: 1px solid black;
        animation-name: RightMove;
        animation-duration: 5s;
        animation-timing-function:linear;
    }
    @keyframes RightMove {
        from{
            display: inline;
            left: 0px;
        }
        to{
            display: inline;
            left: 500px;
        }
    }
}

@media screen and (min-width: 700px) {
    /* page histoire, la marge des images dans les sections  */
    section div img {
        margin: 0 10px;
    }
    
    #galerie{
        grid-template-columns: repeat(6, 3fr);
    }
}

@media screen and (min-width: 580px) {
    /* affichage liens de navigation ecran > 580px */
    header input[type="checkbox"], 
    header span,
    nav:first-of-type{
        display: none;
    }
    nav:last-child{
        display: inline;
    }
    
    #garlerie{
        grid-template-columns: repeat(3, 3fr);
    }
    #mainI{
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }
    
}


